.search{
    width: 100%;
    height: 50px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    .search-box{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 220px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        i{
            margin-right: 10px;
            color: grey;
        }
        input{
            border: none;
            outline: none;
        }
    }
}