.compose{
    height: 60px;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;

    .icon{
        cursor: pointer;
        i{
            padding-left:10px ;
            padding-right: 10px;
            color: rgb(53, 53, 53);
            font-size: 18px;
        }
    }
    .textbox{
        width: 100%;
        align-items: center;
        input{
            padding: 10px 15px;
            width: 95%;
            border: 0;
            outline: none;
            border-radius: 50px;
        }
    }
}