.message{
    width: 100%;
    height: fit-content;
    background-image: url('../../assets/bg.png');
    background-color: #ECE5DD;
    background-blend-mode: soft-light;
    overflow-y: scroll;
    overflow-x: hidden;
    .message-body{
        width: 80%;
        height: 100%;
        margin: auto;
  
        .encrypt{
            text-align: center;
            font-size: 12px;
            background-color: rgb(253, 233, 165);
            padding-left:10px;
            padding-right:10px;
            padding-top:5px;
            padding-bottom:5px;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
            font-weight: 400;
            box-shadow: 1px 1px 3px rgb(206, 204, 199),-1px -1px 3px rgb(253, 233, 165);
        }
        .message-recieve{
            background-color: white;
            width: fit-content;
            font-size: 13px;
            padding: 5px;
        }
    }
    
}